<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>利息计算</title>
    <style>
        [v-clock]{
            display: none;
        }
        label {
            display:inline-block;
            min-width:130px;
            text-align:right;
        }
    </style>
</head>
<body>
<div id="app" v-clock>
    <h3>利息计算</h3>
    <label>若现在存款(￥)：</label><input v-model='price'   type="number" min='1'/><br/>
    <label>年利息（%）：</label><input v-model='rate'  type="number" min='1'/><br/>
    <label>坚持存多少年：</label><input v-model="year"  type="number" min='1'/><br/>
    <label>{{year}}年后，您将拥有的财富（￥）：<strong style='color:red'>{{allPrice()}}</strong></label>
 

</div>


<script src="https://cn.vuejs.org/js/vue.min.js"></script>
<script>
    new Vue({
        el:'#app',
        data:{
            price:10000,
            rate:5,
            year:1,

        },
        methods:{
            allPrice: function () {
                var price = this.price ;
                var rate = this.rate ;
                var year = this.year;
               return Math.round( price*Math.pow(1+rate/100,year)*100)/100
            }
        }
    })

</script>

<script>
                
</script>
</body>
</html>